@import-normalize; /* bring in normalize.css styles */

:root {
  /* Colors */
  --black: #000000;
  --background: #fff;
  --colorText: #888;
  --borderColor: #f8f8f8;
  --secondColor: #9d426b;

  /* Fonts */
  --font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

/* Reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

link {
  text-decoration: none;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

body {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 1.3;
  font-weight: 400;
  color: var(--black);
  background-color: var(--background);
  margin: 0;
}
